__pycache__
.pdm-python
.next
APIKEY
/apps/librelingo-web/APIKEY
node_modules
playwright-report
test-results
*.log
module-ui-check.json
neovide_backtraces.log
**/*.tsbuildinfo
/apps/librelingo-web/out/
/apps/librelingo-web/src/courses/*
/courses/*
!/apps/librelingo-web/src/courses/somali-from-english/
!/apps/librelingo-web/src/courses/somali-from-english/**
!/courses/somali-from-english/
!/courses/somali-from-english/**
